@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Tilt+Neon&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    flex-direction: column;
}
#left{
    position: relative;
    left:-60px;
    top:40px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;

}
#right{
    position: relative;
    left:50px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}